.FolderTabList {
  position: relative;
  top: 0;
  width: 100%;
  background-color: var(--color-background);
  overflow-x: hidden;
  overflow-y: auto;

  font-size: 1rem;
  padding: 0;
  height: 100%;

  scrollbar-color: rgba(0, 0, 0, 0);

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    // `box-shadow` prevents repaint on macOS when hovering out of scrollable container
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.01);
  }
}
